<tr>
    <td>
        <input type=text size=30 name="player_name[]" class="form-control">
    </td>
    <td>
        <select name="player_skill[]">
          <option value="4">Expert</option>
          <option value="3">Intermediate</option>
          <option value="2">Novice</option>
          <option value="1">Beginner</option>
          <option value="0" selected=selected>Don't Know</option>
        </select>
    </td>
    <td>
        <button type="button" class="btn btn-default remove-player">Remove</button>
    </td>
</tr>