{% extends "layout.html" %}
{% block body %}
    <h1>Generate Roster</h1>
    <div class="container">
        Enter list of players and their approximate skill level and we'll generate a balanced roster!
        <form action="{{ url_for('roster') }}" method=post class="add-entry form-inline" id="make-roster-form">
            <input type="hidden" name="search_type" value="product">
            <table id="player-list">
                <tr>
                    <th align=left>Name</th>
                    <th align=left>Skill Level</th>
                    <th></th>
                </tr>
                {% include 'form_elements/player.html' %}
            </table>
            <button type="button" id="add-player" class="btn">Add Player</button><input type=submit value="Generate Roster" class="btn btn-success">
            <br />
            <input type="checkbox" name="save-roster" value="true" checked=checked> Save roster for future use.
            Password protect roster: (optional) <input type="text" name="roster-password">
        </form>
        <table id="empty-player-row" style="visibility: hidden;">
            {% include 'form_elements/player.html' %}
        </table>
    </div>
{% endblock %}